<mat-form-field>
  <mat-label>Filtro</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input />
</mat-form-field>

<table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
  <ng-container matColumnDef="school" class="header-cont">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Ordenar por Escuela"
    >
      <p>Escuela</p>
    </th>
    <td mat-cell *matCellDef="let competitor">
      <p>{{ competitor.school }}</p>
    </td>
  </ng-container>

  <ng-container matColumnDef="instructor" class="header-cont">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Ordenar por Instructor"
    >
      <p>Instructor</p>
    </th>
    <td mat-cell *matCellDef="let competitor">
      <p>{{ competitor.instructor }}</p>
    </td>
  </ng-container>

  <ng-container matColumnDef="name" class="header-cont">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Ordenar por Nombre"
    >
      <p>Apellido y Nombre</p>
    </th>
    <td mat-cell *matCellDef="let competitor">
      <div class="name-info-box">
        <button
          mat-icon-button
          (click)="expanded = expanded === competitor ? null : competitor"
        >
          <i class="fa-solid fa-eye"></i>
        </button>
        <div class="word-companion-info">
          <p>{{ competitor.name }}</p>
        </div>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="isDan" class="header-cont">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Ordenar por Categoría"
    >
      <p>Categoría</p>
    </th>
    <td mat-cell *matCellDef="let competitor">
      <p>@if (competitor.isDan) { DAN } @else { COLOR }</p>
    </td>
  </ng-container>

  <ng-container matColumnDef="forms" class="header-cont">
    <th mat-header-cell *matHeaderCellDef>
      <p>Formas</p>
    </th>
    <td mat-cell *matCellDef="let competitor">
      <div class="mydict">
        <div>
          @for (option of radioOptions; track option) {
          <label
            (click)="competitor.forms = option; calculateTotal(competitor)"
          >
            <input
              type="radio"
              [(ngModel)]="competitor.forms"
              [value]="option"
            />
            <span>{{ option }}</span>
          </label>
          }
        </div>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="combat" class="header-cont">
    <th mat-header-cell *matHeaderCellDef>
      <p>Combate</p>
    </th>
    <td mat-cell *matCellDef="let competitor">
      <div class="mydict">
        <div>
          @for (option of radioOptions; track option) {
          <label
            (click)="competitor.combat = option; calculateTotal(competitor)"
          >
            <input
              type="radio"
              [(ngModel)]="competitor.combat"
              [value]="option"
            />
            <span>{{ option }}</span>
          </label>
          }
        </div>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="jump" class="header-cont">
    <th mat-header-cell *matHeaderCellDef>
      <p>Salto en Alto</p>
    </th>
    <td mat-cell *matCellDef="let competitor">
      <div class="mydict">
        <div>
          @for (option of radioOptions; track option) {
          <label (click)="competitor.jump = option; calculateTotal(competitor)">
            <input
              type="radio"
              [(ngModel)]="competitor.jump"
              [value]="option"
            />
            <span>{{ option }}</span>
          </label>
          }
        </div>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="total" class="header-cont">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Ordenar por Total"
    >
      <p>TOTAL</p>
    </th>
    <td mat-cell *matCellDef="let competitor">
      <p>{{ competitor.total }}</p>
    </td>
  </ng-container>

  <!-- ---------- Expanded Detail ---------- -->

  <ng-container matColumnDef="expandedDetail">
    <td
      mat-cell
      *matCellDef="let competitor"
      [attr.colspan]="displayedColumns.length"
    >
      <div
        class="competitor-detail"
        [@detailExpand]="competitor === expanded ? 'expanded' : 'collapsed'"
      >
        <p>Edad: {{ competitor.age }}</p>
        <p>Cinturón: {{ competitor.belt }}</p>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

  <tr
    mat-row
    *matRowDef="let competitor; columns: displayedColumns"
    [class.expanded-row]="competitor.isExpanded"
    (click)="competitor.isExpanded = !competitor.isExpanded"
  ></tr>

  <tr
    mat-row
    *matRowDef="let row; columns: ['expandedDetail']"
    class="detail-row"
  ></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="displayedColumns.length">{{ showError }}</td>
  </tr>
</table>

<mat-paginator
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 20, 50]"
  showFirstLastButtons
  aria-label="Seleccione la cantidad"
>
</mat-paginator>
