<h1>Copa Koguryo</h1>

<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item" role="presentation">
    <button
      class="nav-link active"
      data-bs-toggle="tab"
      data-bs-target="#table-tab-pane"
      type="button"
      role="tab"
      aria-selected="true"
    >
      Datos
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      data-bs-toggle="tab"
      data-bs-target="#scores-tab-pane"
      type="button"
      role="tab"
      aria-selected="false"
    >
      Puntuaciones
    </button>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane fade show active" id="table-tab-pane" role="tabpanel">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Escuela</th>
          <th>Instructor</th>
          <th>Edad</th>
          <th>Cinturón</th>
          <th>Categoría</th>
          <th>Formas</th>
          <th>Salto en Alto</th>
          <th>Combate</th>
          <!-- <th>
            Formas y combate <br />
            por equipo
          </th> -->
          <th>TOTAL</th>
        </tr>
      </thead>
      <tbody>
        @for (item of items; track item) {
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.school }}</td>
          <td>{{ item.instructor }}</td>
          <td>{{ item.age }}</td>
          <td>{{ item.belt }}</td>
          <td>{{ item.category }}</td>
          <td>
            <select
              class="form-select"
              [(ngModel)]="item.forms"
              (change)="calculateTotal(item)"
            >
              <option [ngValue]="nonePlace" selected>Ninguno</option>
              <option [ngValue]="firstPlace">1° lugar</option>
              <option [ngValue]="secondPlace">2° lugar</option>
              <option [ngValue]="thirdPlace">3° lugar</option>
            </select>
          </td>
          <td>
            <select
              class="form-select"
              [(ngModel)]="item.jump"
              (change)="calculateTotal(item)"
            >
              <option [ngValue]="nonePlace" selected>Ninguno</option>
              <option [ngValue]="firstPlace">1° lugar</option>
              <option [ngValue]="secondPlace">2° lugar</option>
              <option [ngValue]="thirdPlace">3° lugar</option>
            </select>
          </td>
          <td>
            <select
              class="form-select"
              [(ngModel)]="item.combat"
              (change)="calculateTotal(item)"
            >
              <option [ngValue]="nonePlace" selected>Ninguno</option>
              <option [ngValue]="firstPlace">1° lugar</option>
              <option [ngValue]="secondPlace">2° lugar</option>
              <option [ngValue]="thirdPlace">3° lugar</option>
            </select>
          </td>
          <td>{{ item.total }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  <div class="tab-pane fade" id="scores-tab-pane" role="tabpanel">...</div>
</div>
