<h1>Copa Koguryo</h1>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Escuela</th>
      <th>Instructor</th>
      <th>Edad</th>
      <th>Cinturón</th>
      <th>Categoría</th>
      <th>Formas</th>
      <th>Salto en Alto</th>
      <th>Combate</th>
      <th>Formas y combate por equipo</th>
      <th>TOTAL</th>
    </tr>
  </thead>
  <tbody>
    @for (item of items; track item) {
      <tr>
        <th>{{ item.id }}</th>
        <th>{{ item.school }}</th>
        <th>{{ item.instructor }}</th>
        <th>{{ item.age }}</th>
        <th>{{ item.belt }}</th>
        <th>{{ item.category }}</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    }
  </tbody>
</table>
