<div class="search">
  <div class="container-input">
    <input
      type="text"
      placeholder="Buscar"
      class="input"
      (keyup)="applyFilter($event)"
      (blur)="onInputBlur($event)"
      placeholder="Buscar"
      #input
    />
    <mat-icon color="primary">search</mat-icon>
  </div>
</div>

<table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
  <ng-container matColumnDef="school">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Ordenar por Escuela"
    >
      <p>Escuela</p>
    </th>
    <td mat-cell *matCellDef="let element">
      <p>{{ element.school }}</p>
    </td>
  </ng-container>

  <ng-container matColumnDef="instructor">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Ordenar por Instructor"
    >
      <p>Instructor</p>
    </th>
    <td mat-cell *matCellDef="let element">
      <p>{{ element.instructor }}</p>
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Ordenar por Nombre"
    >
      <p>Apellido y Nombre</p>
    </th>
    <td mat-cell *matCellDef="let element">
      <div class="icon-text">
        <button
          mat-icon-button
          (click)="expanded = expanded === element ? null : element"
        >
          <mat-icon color="primary">remove_red_eye</mat-icon>
        </button>
        <div>
          <p>{{ element.name }}</p>
        </div>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="is_dan">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Ordenar por Categoría"
    >
      <p>Categoría</p>
    </th>
    <td mat-cell *matCellDef="let element">
      <p>@if (element.is_dan) { DAN } @else { COLOR }</p>
    </td>
  </ng-container>

  <ng-container matColumnDef="forms">
    <th mat-header-cell *matHeaderCellDef>
      <p>Formas</p>
    </th>
    <td mat-cell *matCellDef="let element">
      <div class="custom-btn">
        <div>
          @for (option of radioOptions; track option) {
          <label
            (click)="element.forms = option; calculateTotal($event, element)"
          >
            <input type="radio" [(ngModel)]="element.forms" [value]="option" />
            <span [ngClass]="!calculatingTotal ? 'span' : 'disabled-span'">{{
              option
            }}</span>
          </label>
          }
        </div>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="combat">
    <th mat-header-cell *matHeaderCellDef>
      <p>Combate</p>
    </th>
    <td mat-cell *matCellDef="let element">
      <div class="custom-btn">
        <div>
          @for (option of radioOptions; track option) {
          <label
            (click)="element.combat = option; calculateTotal($event, element)"
          >
            <input type="radio" [(ngModel)]="element.combat" [value]="option" />
            <span [ngClass]="!calculatingTotal ? 'span' : 'disabled-span'">{{
              option
            }}</span>
          </label>
          }
        </div>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="jump">
    <th mat-header-cell *matHeaderCellDef>
      <p>Salto en Alto</p>
    </th>
    <td mat-cell *matCellDef="let element">
      <div class="custom-btn">
        <div>
          @if (!element.is_dan) { @for (option of radioOptions; track option) {
          <label
            (click)="element.jump = option; calculateTotal($event, element)"
          >
            <input type="radio" [(ngModel)]="element.jump" [value]="option" />
            <span [ngClass]="!calculatingTotal ? 'span' : 'disabled-span'">{{
              option
            }}</span>
          </label>
          } }
        </div>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="total">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Ordenar por Total"
    >
      <p>TOTAL de puntos</p>
    </th>
    <td mat-cell *matCellDef="let element">
      <div class="loading">
        @if (calculatingTotal && idCalculating == element.id_competitor) {
        <mat-spinner diameter="20"></mat-spinner>
        } @else {
        <p>{{ element.total }}</p>
        }
      </div>
    </td>
  </ng-container>

  <!-- ---------- Expanded Detail ---------- -->

  <ng-container matColumnDef="expandedDetail">
    <td
      mat-cell
      *matCellDef="let element"
      [attr.colspan]="displayedColumns.length"
    >
      <div [@detailExpand]="element === expanded ? 'expanded' : 'collapsed'">
        <mat-chip-set>
          <mat-chip class="custom-chip"
            ><div class="chip-text">
              <span>Edad:</span>
              <p>{{ element.age }}</p>
            </div></mat-chip
          >
          <mat-chip class="custom-chip"
            ><div class="chip-text">
              <span>Cinturón:</span>
              <p>{{ element.belt }}</p>
            </div></mat-chip
          >
          <mat-chip class="custom-chip"
            ><div class="chip-text">
              <span>Género:</span>
              <p>{{ element.genre }}</p>
            </div></mat-chip
          >
        </mat-chip-set>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

  <tr
    mat-row
    *matRowDef="let element; columns: displayedColumns"
    [class.expanded-row]="element.isExpanded"
    (click)="element.isExpanded = !element.isExpanded"
  ></tr>

  <tr
    mat-row
    *matRowDef="let row; columns: ['expandedDetail']"
    class="expanded"
  ></tr>
</table>

<mat-paginator
  [pageSize]="10"
  [pageSizeOptions]="[5, 10, 20, 50]"
  showFirstLastButtons
>
</mat-paginator>
