:focus {
  outline: 0;
  border-color: var(--primary);
  box-shadow: 0 0 0 4px #b5c9fc;
}

.custom-btn div {
  display: flex;
  flex-wrap: wrap;
}

.custom-btn input[type="radio"] {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.custom-btn input[type="radio"]:checked + span {
  box-shadow: 0 0 0 0.0625em var(--primary);
  background-color: var(--background);
  z-index: 1;
  color: var(--primary);
}

label span {
  display: block;
  cursor: pointer;
  background-color: #fff;
  padding: 0.375em 0.75em;
  position: relative;
  margin-left: 0.0625em;
  box-shadow: 0 0 0 0.0625em #b5bfd9;
  letter-spacing: 0.05em;
  color: #3e4963;
  text-align: center;
  transition: background-color 0.5s ease;
}

label:first-child span {
  border-radius: 0.375em 0 0 0.375em;
}

label:last-child span {
  border-radius: 0 0.375em 0.375em 0;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.container-input {
  position: relative;
}

.input {
  width: 30rem;
  padding: 10px 0px 10px 40px;
  border-radius: 9999px;
  border: solid 1px var(--primary);
  transition: all 0.2s ease-in-out;
  outline: none;
  opacity: 0.8;
}

.container-input mat-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);
}

.input:focus {
  opacity: 1;
  width: 50rem;
}

.input::placeholder {
  font-size: 1rem;
}

.loading {
  display: flex;
  justify-content: center;
}